<div class="well">
  <h1><%= @recipe.title %></h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3><a href="/">Recipes List</a></h3>

    <h3>Your ingredients</h3>

    <% if @recipe.ingredient.any? %>
      <% @recipe.ingredient.each do |i| %>
      <ul>
        <div class="well">
          <li class="ingredient"><%= i.name %></li>
          <form class="form-group navbar-right"" action="/ingredient_edit/<%= @recipe.id %>" method="get">
            <input id="ingredient_id" name="ingredient_id" type="hidden" value="<%= i.id%>">
            <button class="action  btn btn-primary" type="submit" name="button">Edit</button>
          </form>
          <form class="form-group navbar-right"" action='/ingredient_edit/<%=@recipe.id %>' method="post">
            <input id="recipe_id" name="ingredient_id" type="hidden" value="<%= i.id%>">
            <input type="hidden" name="_method" value="delete">
            <button class="action btn btn-danger" type="submit" name="button" >Delete</button>
          </form>
          <br>
        </div>
      </ul>
      <% end %>
    <% else %>
      <p>There are no ingredients yet.</p>
    <% end %>
    <h3>Instructions:</h3>
    <%= @recipe.instructions %>

  </div>
  <div class="col-sm-6">
    <form class="form-group" action="/recipes/<%= @recipe.id %>" method="post">
      <label for="ingredient">Add Ingredients</label>
      <br>
      <input type="text" name="ingredient" class="form-control">
      <br>
      <button type="submit" class="btn btn-primary" name="button">Add Ingredients</button>
    </form>


    <form class="form-group" action="/recipes/<%= @recipe.id %>" method="post">
      <!-- <input id="recipe_id" name="recipe_id" type="hidden" value="<%= @recipe.id%>"> -->
      <input type="hidden" name="_method" value="patch">
      <textarea name="instructions" rows="8" cols="80"> <%= @recipe.instructions %> </textarea>
      <br>
      <button type="submit" class="btn btn-primary" name="button">Edit Instructions</button>
    </form>
  </div>
</div>
